@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    font-family: 'Lexend Deca',sans-serif;
    font-size: 15px;
    color: #fff;
}



.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {

    width: 60%;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
    background-color: blue;
}


.wrapper2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




.wrapper-sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 25px;
    position: relative;
}



.wrapper-suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 25px;
    position: relative;
}


.wrapper-luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 25px;
    position: relative;
}



button {
    background-color: #fff;
    border: 0;
    width: 35%;
    height: 8%;
    border-radius: 100px;
    position: absolute;
    bottom: 15%;
}

.b-sedans {
    color: hsl(31, 77%, 52%);
    font-weight: bold;
}

.b-suvs {
    color: hsl(184, 100%, 22%);
    font-weight: bold;
}

.b-luxury {
    color: hsl(179, 100%, 13%);
    font-weight: bold;
}


p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 2vmin;

}


h2 {
    font-family: 'Big Shoulders Display',sans-serif;
    font-size: 5vmin;
    margin: 5% 0;
}

@media only screen and (max-width: 800px) {
    .wrapper2 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 33.33% 33.33% 33.33%;
        grid-template-columns: 1fr;
    }

    .wrapper-sedans {
        padding: 20px;
    }

    .wrapper-suvs {
        padding: 20px;
    }

    .wrapper-luxury {
        padding: 20px;
    }

    h2 {
        display: flex;
        position: absolute;
        top: 0px;
        left: 150px;
    }

    p {
        font-size: 0.5rem;

    }

    button {
        position: absolute;
        right: 20px;
        width: 30%;
        height: 15%;
    }
}